<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Your Pantry</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Your Pantry</h1>

    <a href="/users/<%= user._id %>/foods/new">Add a Food Item</a>

    <ul>
      <% foods.forEach(food => { %>
      <li>
        <a href="/users/<%= user._id %>/foods/<%= food._id %>">
          <%= food.name %> (Quantity: <%= food.quantity %>, Expiration Date: <%= food.expirationDate ? food.expirationDate.toISOString().substring(0, 10) : 'N/A' %>)
        </a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
